<%= form_with model: @user, url: profile_path, data: { turbo: false } do |f|  %>
      <%= render 'shared/error_messages', object: @user %>
      
      <div class="my-4">
        <%= f.label :name, class: "block font-semibold" %>
        <%= f.text_field :name, class: "input w-full", required: true %>
      </div>

      <div class="my-4">
        <%= f.label :email, class: "block font-semibold" %>
        <%= f.email_field :email, class: "input w-full", required: true %>
      </div>

      <div class="my-4">
        <%= f.label :address, class: "block font-semibold" %>
        <%= f.text_field :address, class: "input w-full", required: true, placeholder: "例: 東京都千代田区" %>
      </div>
      <p>※住所を追加すると、周辺に新しいワークスペースが登録された場合に通知が送信されます。</p>

      <div class="my-4">
        <%= f.label :avatar, class: "block font-semibold" %>
        <div id="avatar_preview" class="image-preview">
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar.url, class: "max-w-xs max-h-48" %>
          <% end %>
        </div>
        <%= f.file_field :avatar, id: "avatar", class: "mt-1" %>
      </div>
  
      <div class="my-4">
        <%= f.submit "変更を保存", class: "btn btn-secondary px-4 py-2 rounded hover:bg-blue-600 text-white" %>
      </div>
<% end %>