<div class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-md mt-16">
    <h1 class="text-3xl font-bold text-center mb-4 text-gray-800">ユーザー情報変更</h1>
    <%= form_with model: @user, url: profile_path, local: true do |f|  %>
      
      <% if current_user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% current_user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-4">
        <%= f.label :name, class: "block font-semibold" %>
        <%= f.text_field :name, class: "input w-full", required: true %>
      </div>

      <div class="my-4">
        <%= f.label :email, class: "block font-semibold" %>
        <%= f.email_field :email, class: "input w-full", required: true %>
      </div>

      <div class="my-4">
        <%= f.label :avatar, class: "block font-semibold" %>
        <div id="avatar_preview" class="image-preview">
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar.url, class: "max-w-xs max-h-48" %>
          <% end %>
        </div>
        <%= f.file_field :avatar, id: "avatar", class: "mt-1" %>
      </div>
  
      <div class="my-4">
        <%= f.submit "変更を保存", class: "btn btn-secondary px-4 py-2 rounded hover:bg-blue-600 text-white" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    // 画像選択時にプレビューを表示する
    $('#avatar').on('change', function (e) {
      var input = $(this)[0];
      if (input.files && input.files[0]) {
        $('#avatar_preview').empty();

        var reader = new FileReader();
        reader.onload = function(e) {
          var imagePreview = $('<div>').addClass('relative mx-2 mt-2');
          var image = $('<img>').attr('src', e.target.result).addClass('max-w-xs max-h-48').css('object-fit', 'cover');

          imagePreview.append(image);
          $('#avatar_preview').append(imagePreview);
        };
        reader.readAsDataURL(input.files[0]);
      }
    });
  });
</script>
