<div id="messages"></div>
<div class="max-w-xl mx-auto my-10 bg-white rounded-lg shadow-md p-5 text-center">
    <%= render 'profile_details' %>
    <%= link_to t('profiles.show.edit_profile_button'), edit_profile_path, class: 'btn btn-sm m-1 bg-neutral' %>
</div>

<div class="text-center">
  <button id="toggle-posted-workspaces" class="btn btn-sm m-1 bg-neutral"><%= t('profiles.show.toggle_posted_workspaces_button') %></button>
  <button id="toggle-liked-workspaces" class="btn btn-sm m-1 bg-neutral"><%= t('profiles.show.toggle_liked_workspaces_button') %></button>
  <button id="toggle-reviewed-workspaces" class="btn btn-sm m-1 bg-neutral"><%= t('profiles.show.toggle_reviewed_workspaces_button') %></button>
</div>

<%= render 'posted_workspaces' %>
<%= render 'liked_workspaces' %>
<%= render 'reviewed_workspaces' %>

<script>
    $(document).ready(function() {
    $('#toggle-posted-workspaces').click(function() {
      // 他のワークスペースコンテナを非表示にする
      $('.workspace-container').not('.posted').hide();
      // 投稿したワークスペースを表示する
      $('.workspace-container.posted').toggle();
    });

    $('#toggle-liked-workspaces').click(function() {
      // 他のワークスペースコンテナを非表示にする
      $('.workspace-container').not('.liked').hide();
      // お気に入りしたワークスペースを表示する
      $('.workspace-container.liked').toggle();
    });

    $('#toggle-reviewed-workspaces').click(function() {
      // 他のワークスペースコンテナを非表示にする
      $('.workspace-container').not('.reviewed').hide();
      // 評価したワークスペースを表示する
      $('.workspace-container.reviewed').toggle();
    });
  });
</script>

