<%= form_with url: login_path, id: "login-form", class: "space-y-6", data: { turbo: false } do |f| %>
  <div>
    <%= f.label :email, t('sessions.new.email_label') %><br />
    <%= f.text_field :email, id: "user_email", class: "block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" %>
  </div>
  <div>
    <%= f.label :password, t('sessions.new.password_label') %><br />
    <%= f.password_field :password, id: "user_password", class: "block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" %>
  </div>
  <div class="actions">
    <%= f.submit t('sessions.new.submit_button'), id: "login-submit-button", class: "flex items-center justify-center w-full px-10 mt-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
  </div>
<% end %>

