<%= render 'shared/error_messages', object: f.object %>

<div class="my-4">
  <%= f.label t('workspaces.new.name_label'), class: "block font-semibold" %>
  <%= f.text_field :title, id: "workspace_title", class: "input w-full" %>
</div>

<div class="my-4">
  <%= f.label t('workspaces.new.address_label'), class: "block font-semibold" %>
  <%= f.text_field :address, id: "workspace_address", class: "input w-full", placeholder: t('placeholders.workspace.address') %>
</div>

<div class="my-4">
  <%= f.label t('workspaces.new.spot_type_label'), class: "block font-semibold" %>
  <div class="flex items-center">
    <div class="mr-4 text-center">
      <%= f.radio_button :spot_type, 'cafe', class: "mr-1" %>
      <%= f.label :cafe, t('workspaces.new.spot_type_cafe'), class: "inline-block" %>
    </div>

    <div class="mr-4 text-center">
      <%= f.radio_button :spot_type, 'library', class: "mr-1" %>
      <%= f.label :library, t('workspaces.new.spot_type_library'), class: "inline-block" %>
    </div>

    <div class="flex">
      <div class="mr-4 text-center">
        <%= f.radio_button :spot_type, 'coworking_space', class: "mr-1" %>
        <%= f.label :coworking_space, t('workspaces.new.spot_type_coworking_space'), class: "inline-block text-sm" %>
      </div>

      <div class="mr-4 text-center">
        <%= f.radio_button :spot_type, 'school', class: "mr-1" %>
        <%= f.label :school, t('workspaces.new.spot_type_school'), class: "inline-block" %>
      </div>

      <div class="mr-4 text-center">
        <%= f.radio_button :spot_type, 'others', class: "mr-1" %>
        <%= f.label :others, t('workspaces.new.spot_type_others'), class: "inline-block" %>
      </div>
    </div>
  </div>
</div>

<div class="my-4">
  <%= f.label "こだわり", class: "block font-semibold" %>
  <div class="flex flex-wrap items-start">
    <% Tag.all.each do |tag| %>
      <div class="mr-4 mt-2">
        <%= check_box_tag 'workspace[tag_ids][]', tag.id, @workspace.tag_ids.include?(tag.id), id: "workspace_tag_#{tag.id}", class: "form-checkbox h-5 w-5 text-indigo-600" %>
        <%= label_tag "workspace_tag_#{tag.id}", tag.name, class: "inline-block text-sm text-gray-700" %>
      </div>
    <% end %>
  </div>
</div>

<div class="my-4">
  <%= f.label t('workspaces.new.price_label'), class: "block font-semibold" %>
  <%= f.select :price, Workspace.prices.keys.map { |price| [t("activerecord.attributes.workspace.prices.#{price}"), price] }, {}, class: "input w-full" %>
</div>

<div class="my-4">
  <%= f.label t('workspaces.new.recommendation_label'), class: "block font-semibold" %>
  <%= f.text_area :recommendation, id: "workspace_text", class: "input w-full h-32" %>
</div>

<div class="my-4">
  <%= f.label t('workspaces.new.image_label'), class: "block font-semibold" %>
  <div id="image_preview" class="image-preview">
    <% if f.object.workspace_image.present? %>
      <%= image_tag f.object.workspace_image.url, class: "max-w-xs max-h-48" %>
    <% end %>
  </div>
  <%= f.file_field :workspace_image, id: "workspace_image", class: "mt-1" %>
</div>
