<% if workspace.reviews.present? %>
  <div class="workspace-rating mx-auto mt-4">
    <% workspace.reviews.each do |review| %>
      <div class="chat chat-start flex item-center justify-center">
        <div class="chat-image avatar">
          <div class="w-10 rounded-full">
            <%= image_tag review.user.avatar_url %> 
          </div>
        </div>
        <div class="chat-bubble">
          <div class="rating-header">
            <span class="user-name"><%= review.user.name %></span> 
            <div class="rating-stars">
              <% review.rating.times do %>
                <i class="star fa-solid fa-star" style="color: #fbe704; font-size: 1rem;"></i> 
              <% end %>
            </div>
          </div>
          <div class="comment">
            <%= review.comment %> 
          </div>
        </div>
        <div class="ml-4 mt-4"> 
          <% if current_user == review.user %>
            <%= link_to t('workspaces.show.edit_review_button'), edit_workspace_review_path(@workspace, review), class: "btn btn-outline " %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    <div class="flex items-center justify-center my-4">
      <p><%= t('workspaces.show.no_reviews') %></p>
    </div>
  <% end %>
