<% if workspace.reviews.present? %>
  <div class="workspace-rating mx-auto mt-4">
    <% workspace.reviews.each do |review| %>
      <div class="chat chat-start flex item-center justify-center">
        <div class="chat-image avatar">
          <div class="w-10 rounded-full">
            <% if review.user.avatar_url.present? %>
              <%= image_tag review.user.avatar_url %> 
            <% else %>
              <%= image_tag 'user_default.png' %> <!-- デフォルトのアバター画像を指定 -->
            <% end %>
          </div>
        </div>

        <div class="chat-bubble bg-pink relative">
          <div class="rating-header">
            <span class="user-name"><%= review.user.name %></span> 
            <div class="rating-stars">
              <% review.rating.times do %>
                <i class="star fa-solid fa-star" style="color: #fbe704; font-size: 1rem;"></i> 
              <% end %>
            </div>
          </div>

          <div class="rating-values mt-2"> <!-- 適切な感覚を調整 -->
        <div class="flex space-x-4 items-center"> <!-- 各項目の感覚を調整 -->
          <div class="text-sm flex items-center"> <!-- 文字を小さく調整 -->
            快適さ: <%= "#{review.comfort}点" %>
          </div>
          <div class="text-sm flex items-center">
            利便性: <%= "#{review.convenience}点" %>
          </div>
          <div class="text-sm flex items-center">
            居心地の良さ: <%= "#{review.coziness}点" %>
          </div>
          <div class="text-sm flex items-center">
            作業のしやすさ: <%= "#{review.ease_of_work}点" %>
          </div>
          <div class="text-sm flex items-center">
            環境音: <%= "#{review.environmental_noise}点" %>
          </div>
        </div>
      </div>
          <div class="comment mt-4 border-dashed border-t-2 pt-2">
            <%= review.comment %> 
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    <div class="flex items-center justify-center my-4">
      <p><%= t('workspaces.show.no_reviews') %></p>
    </div>
  <% end %>
