<% workspaces.each do |workspace| %>
  <div class="col-md-4 mb-4">
     <div class="p-3 border border-secondary border-2 rounded-lg shadow mx-auto w-2/3" style="background-color: <%= workspace.spot_type_color %>;">
      <%= link_to workspace_path(workspace) do %>
        <div class="flex justify-between items-center">
          <h5 class="text-2xl font-semibold mb-2 text-center pb-1 border-bottom border-secondary mx-auto"><%= workspace.title %></h5>
          <div class="flex items-center">
            <i class="fas fa-heart text-red-500 ml-2"></i>
            <p class="ml-1"><%= workspace.reviews.any? ? workspace.calculate_average_rating : 0 %></p>
          </div>
        </div>
        <p class="text-gray-600 text-center pb-1 border-bottom border-secondary"><%= workspace.address %></p>
      <% end %>
    </div>
  </div>
<% end %>

<%= paginate workspaces%>


