<div class="flex items-center justify-center">
  <div class="w-full max-w-md mt-16">
    <h1 class="text-3xl font-bold text-center mb-4 text-gray-800"><%= t('workspaces.new.title') %></h1>

    <div class="flex items-center justify-center mt-4">
      <%= button_to t('workspaces.edit.delete_button'), workspace_path(@workspace), method: :delete, data: { turbo: "false" }, form: { onSubmit: "return check()" }, class: "btn btn-sm bg-red-500 hover:bg-red-600 px-4 py-2 rounded text-white" %>
    </div>

    <%= form_with model: @workspace, data: { turbo: false } do |f| %>
      
      <%= render 'form_fields', f: f %>

      <div class="my-4 flex justify-between items-center">
        <%= f.submit t('workspaces.edit.update_button'), class: "btn btn-secondary px-4 py-2 rounded hover:bg-blue-600 text-white" %>
      </div>
    <% end %>
  </div>
</div>


<script>
  $(document).ready(function() {
    // 画像選択時にプレビューを表示する
    $('#workspace_image').on('change', function (e) {
      var input = $(this)[0];
      if (input.files && input.files[0]) {
        $('#image_preview').empty();

        var reader = new FileReader();
        reader.onload = function(e) {
          var imagePreview = $('<div>').addClass('relative mx-2 mt-2');
          var image = $('<img>').attr('src', e.target.result).addClass('max-w-xs max-h-48').css('object-fit', 'cover');

          imagePreview.append(image);
          $('#image_preview').append(imagePreview);
        };
        reader.readAsDataURL(input.files[0]);
      }
    });
  });
  function check(){
    if(window.confirm('本当に削除しますか？')){ 
      return true;
    }
    else{
      window.alert('キャンセルされました'); 
      return false; 
    }
  }
</script>
