<h1 class="text-center my-10"><%= t('workspaces.list.title') %></h1>

<div class="text-center my-4"> 
  <div class="dropdown dropdown-right inline-block">
    <label tabindex="0" class="btn btn-sm m-1 bg-neutral"><%= t('workspaces.list.sort_label') %></label>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
      <li><%= link_to t('workspaces.list.latest_option'), list_workspaces_path(latest: "true") %></li>
      <li><%= link_to t('workspaces.list.old_option'), list_workspaces_path(old: "true") %></li>
      <li><%= link_to t('workspaces.list.highest_rated_option'), list_workspaces_path(highest_rated: "true") %></li>
    </ul>
  </div>
</div>

<div class="container-fluid text-center px-0"> <!-- 右側の余白を削除 -->
  <div class="row justify-content-center mb-4">
    <%= render 'workspaces_index', workspaces: @workspaces %>
  </div>
</div>
