<div class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-md">
    <h1 class="text-3xl font-bold text-center mb-4 text-gray-800">ワークスペース登録</h1>
    <%= form_with model: @workspace, url: workspaces_path, html: { multipart: true } do |f| %>
      <div class="my-4">
        <%= f.label :名称, class: "block font-semibold" %>
        <%= f.text_field :title, class: "input w-full" %>
      </div>

      <div class="my-4">
        <%= f.label :住所, class: "block font-semibold" %>
        <%= f.text_field :address, class: "input w-full" %>
      </div>

      <div class="my-4">
        <%= f.label :tags, "機能・設備", class: "block font-semibold" %>
        <%= f.text_field :tags, class: "input w-full" %>
      </div>

      <div class="my-4">
        <%= f.label :金額帯, class: "block font-semibold" %>
        <%= f.select :price, Workspace.prices, {}, class: "input w-full" %>
      </div>

      <div class="my-4">
        <%= f.label :おすすめポイント, class: "block font-semibold" %>
        <%= f.text_area :recommendation, class: "input w-full h-32" %>
      </div>

      <div class="my-4">
        <%= f.label :写真, class: "block font-semibold" %>
        <div id="image_preview" class="mt-2 flex flex-wrap gap-4"></div>
        <%= f.file_field :workspace_images, class: "mt-1", id: "workspace_images", cache: true, multiple: true %>
      </div>

      <div class="my-4">
        <%= f.submit "登録", class: "btn btn-secondary px-4 py-2 rounded hover:bg-blue-600 text-white" %>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#workspace_images').change(function() {
      var input = $(this)[0];
      if (input.files && input.files.length > 0) {
        $('#image_preview').empty();

        Array.from(input.files).forEach(function(file) {
          var reader = new FileReader();
          reader.onload = function(e) {
            var imagePreview = $('<div>').addClass('relative mx-2 mt-2');
            var image = $('<img>').attr('src', e.target.result).addClass('max-w-xs max-h-48').css('object-fit', 'cover');
            var removeButton = $('<button>').addClass('absolute top-0 right-0 p-2 bg-red-500 rounded-full text-white hover:bg-red-600').text('削除').click(function() {
              $(this).parent().remove();
            });

            imagePreview.append(image);
            imagePreview.append(removeButton);
            $('#image_preview').append(imagePreview);
          };
          reader.readAsDataURL(file);
        });
      }
    });
  });
</script>
