<div class="container mx-auto px-4 h-full">
  <!-- タイトル -->
  <div class="flex items-center justify-center m-16">
    <div class="border-l-4 border-indigo-500 pl-4">
      <h2 class="font-main text-2xl mb-2"><%= @workspace.title %></h2>
    </div>
  </div>

  <div class="flex flex-col md:flex-row md:gap-4">
    <!-- 左側の詳細情報 -->
    <div class="md:w-1/2 md:pr-4">
      <!-- 住所 -->
      <div class="my-8">
        <p class="font-semibold text-lg">住所:</p>
        <p><%= @workspace.address %></p>
      </div>

      <!-- 金額帯 -->
      <div class="my-8">
        <p class="font-semibold text-lg">金額帯:</p>
        <p><%= @workspace.price %>円</p>
      </div>

      <!-- おすすめポイント -->
      <div class="my-4">
        <p class="font-semibold text-lg">おすすめポイント:</p>
        <p><%= @workspace.recommendation %></p>
      </div>

      <!-- 画像 -->
      <div class="my-4">
        <% if @workspace.workspace_image.present? %>
          <%= image_tag @workspace.workspace_image.url, class: "max-w-xs max-h-48" %>
        <% end %>
      </div>
    </div>

    <!-- 右側の地図表示 -->
    <div class="my-4 text-center md:w-1/2">
      <div id="map" class="w-full h-96"></div>
    </div>
  </div>
</div>




<script>
  function initMap() {
    const mapElement = document.getElementById('map');
    const workspaceLatLng = { lat: <%= @workspace.latitude %>, lng: <%= @workspace.longitude %> };

    const map = new google.maps.Map(mapElement, {
      center: workspaceLatLng,
      zoom: 15
    });

    const marker = new google.maps.Marker({
      position: workspaceLatLng,
      map: map,
      title: '<%= @workspace.title %>'
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALLnOvcLorPuwL8pjRiw6Hy5-Nnj5PFQI&callback=initMap" async defer></script>
