<div class="container mx-auto px-4 h-full">

  <!-- タイトル -->
  <div class="flex items-center justify-center mr-16 ml-12 mt-16 mb-8">
    <div class="border-l-4 border-indigo-500 pl-4">
      <h2 class="font-main text-2xl mb-2"><%= @workspace.title %></h2>
    </div>
    <!-- ハートマークのアイコン -->
    <i class="fas fa-heart text-red-500 ml-2"></i>

    <!-- 評価値の合計を表示 -->
    <p class="ml-1"><%= @workspace.reviews.any? ? @workspace.calculate_average_rating : 0 %></p>
  </div>

  <!-- お気に入りボタンと評価ボタン -->
  <div class="flex items-center justify-center mx-16 -mt-6">
    <%= render 'likes_button', workspace: @workspace %>
     <div class="mx-2"></div>
    <%= render 'review_button', workspace: @workspace %>
  </div>

  <div class="flex flex-col md:flex-row md:gap-4">
    <!-- 左側の詳細情報 -->
    <%= render 'workspace_details', workspace: @workspace %>

    <!-- 右側の地図表示 -->
    <%= render 'workspace_map', workspace: @workspace %>
  </div>

  <!-- ユーザーの評価を見るボタン -->
  <div class="flex items-center justify-center mx-16 mt-4 mb-8">
    <button id="toggle-reviews" class="btn btn-sm">ユーザーの評価を見る</button>
  </div>

  <!-- 評価情報を表示するコンテナ -->
  <div id="reviews-container" class="hidden">
    <%= render 'reviews_by_others', workspace: @workspace %>
  </div>

</div>



<script>
  function initMap() {
    const mapElement = document.getElementById('map');
    const workspaceLatLng = { lat: <%= @workspace.latitude %>, lng: <%= @workspace.longitude %> };

    const map = new google.maps.Map(mapElement, {
      center: workspaceLatLng,
      zoom: 15
    });

    const marker = new google.maps.Marker({
      position: workspaceLatLng,
      map: map,
      title: '<%= @workspace.title %>'
    });
  }
   $(document).ready(function() {
    $('#toggle-reviews').click(function() {
      $('#reviews-container').toggle(); // 評価を表示/非表示を切り替える
    });
  });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALLnOvcLorPuwL8pjRiw6Hy5-Nnj5PFQI&callback=initMap" async defer></script>
