<div class="container mx-auto px-4 h-full mb-0">

<nav class="m-8">
  <ul class="list-none p-0">
    <li class="mb-4">
      <i class="fas fa-arrow-left text-black mr-2"></i>
      <%= link_to t('workspaces.show.back_to_map'), workspaces_path, class: "text-black hover:text-indigo-700" %>
    </li>
    <li class="mb-4">
      <i class="fas fa-arrow-left text-black mr-2"></i>
      <%= link_to '一覧に戻る', list_workspaces_path, class: "text-black hover:text-indigo-700" %>
    </li>
  </ul>
</nav>


  <div class="flex items-center justify-center mr-16 ml-12 mt-16 mb-8">
    <div class="border-l-4 border-indigo-500 pl-4">
      <h2 class="font-main text-2xl mb-2"><%= @workspace.title %></h2>
    </div>
    <%= render 'likes_count', workspace: @workspace %>
  </div>

  <div class="flex items-center justify-center mx-16 -mt-6">
    <%= render 'likes_button', workspace: @workspace %>
     <div class="mx-2"></div>
    <%= render 'review_button', workspace: @workspace %>
     <div class="mx-2"></div>
     <% if current_user && current_user.id == @workspace.user_id %>
        <%= link_to t('workspaces.show.edit_button'), edit_workspace_path(@workspace), class: 'btn btn-sm' %>
    <% end %>
  </div>

  <div class="flex items-center justify-center mx-auto ">
    <div class="my-8 pb-4 text-center">
      <p class="font-semibold text-base"><%= t('workspaces.show.tags_label') %> </p>
      <div class="flex flex-wrap mt-2">
        <% @workspace.tags.each do |tag| %>
          <div class="mr-2 mb-2">
            <span class="px-2 py-1 bg-sky-300 rounded-full text-sm font-medium text-gray-700"><%= tag.name %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="flex flex-col md:flex-row md:gap-4">
  
    <%= render 'workspace_details', workspace: @workspace %>

    <%= render 'workspace_map', workspace: @workspace %>
  </div>

  <div class="flex items-center justify-center mx-16 mt-4 mb-8">
    <button id="toggle-reviews" class="btn btn-sm"><%= t('workspaces.show.view_reviews_button') %></button>
  </div>


  <div id="reviews-container" class="hidden">
    <%= render 'reviews_by_others', workspace: @workspace %>
  </div>

</div>



<script>
  function initMap() {
    const mapElement = document.getElementById('map');
    const workspaceLatLng = { lat: <%= @workspace.latitude %>, lng: <%= @workspace.longitude %> };

    const map = new google.maps.Map(mapElement, {
      center: workspaceLatLng,
      zoom: 15
    });

    const marker = new google.maps.Marker({
      position: workspaceLatLng,
      map: map,
      title: '<%= @workspace.title %>'
    });
  }

  $(document).ready(function() {
    $('#toggle-reviews').click(function() {
      $('#reviews-container').toggle(); // 評価を表示/非表示を切り替える
    });
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
