<div class="hero min-h-screen bg-primary">
  <div class="hero-content flex items-center justify-center flex-col">
    <h1 class="text-5xl font-bold font-bold animate-text-focus-in"><%= t('lp.section1.title') %></h1>
    <p class="text-xl mt-4 animate-text-focus-in"><%= t('lp.section1.subtitle') %></p>
  </div>
</div>

<div class="hero min-h-screen bg-neutral flex items-center justify-centeanimate-tilt-in-fwdr">
  <div class="hero-content flex-col lg:flex-row-reverse -tr">
    <div class="mt-4"> 
      <%= image_tag('map.jpg', class: 'max-w-2xl rounded-lg shadow-2xl') %>
    </div>
    <div class="mr-8 lg:mt-0 lg:ml-16">
      <div class="text-4xl font-bold ">
        <%= t('lp.section2.title') %><br>
        <%= t('lp.section2.subtitle') %>
      </div>
      <div class="mt-8">
        <p class="text-xl">
          <%= t('lp.section2.description') %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="hero min-h-screen bg-accent">
  <div class="hero-content flex-col lg:flex-row ">
    <div class="mt-4">
      <%= image_tag('workspace_show.jpg', class: 'max-w-2xl rounded-lg shadow-2xl ') %>
    </div>
    <div class="mt-8 lg:mt-0 lg:ml-16">
      <div class="text-4xl font-bold">
        <%= t('lp.section3.title') %></br>
        <%= t('lp.section3.subtitle') %></br>
      </div>
      <div class="mt-8">
        <p class="text-xl">
          <%= t('lp.section3.description') %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="hero min-h-screen bg-secondary">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="mt-4"> 
      <%= image_tag('workspace_review.png', class: 'max-w-2xl rounded-lg shadow-2xl') %>
    </div>
    <div class="mr-16 lg:mt-0 lg:ml-8">
      <div class="text-4xl font-bold">
        <%= t('lp.section4.title') %></br>
        <%= t('lp.section4.subtitle') %>
      </div>
      <div class="mt-8">
        <p class="text-xl">
          <%= t('lp.section4.description') %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex items-center justify-center min-h-screen bg-white">
  <div class="max-w-3xl">
    <% if logged_in? %> 
      <%= link_to workspaces_path, class: "inline-block bg-white text-black text-xl font-bold py-6 px-10 rounded-lg border border-black hover:bg-gray-200" do %>
        <%= t('lp.section5.call_to_action') %>
      <% end %>
    <% else %>
      <%= link_to login_path, class: "inline-block bg-white text-black text-xl font-bold py-6 px-10 rounded-lg border border-black hover:bg-gray-200" do %>
        <%= t('lp.section5.call_to_action') %>
      <% end %>
    <% end %>
  </div>
</div>
