<%= form_with(model: [@workspace, @review], url: workspace_review_path(@workspace, @review), method: :patch) do |form| %>
  <div class="mb-4 text-center">
    <div class="border-l-4 border-indigo-500 pl-4 mx-auto w-max">
      <h2 class="text-3xl font-main mt-32 mb-20"><%= @workspace.title %></h2>
    </div>
    <div class="flex items-center justify-center space-x-2 mb-10">
      <% (1..5).each do |rating| %>
        <i class="star fa-solid fa-star" data-rating="<%= rating %>" style="color: <%= @review.rating >= rating ? '#fbe704' : '#ccc' %>; font-size: 5rem;"></i>
      <% end %>
    </div>
    <%= form.hidden_field :rating, id: 'review_rating' %>
  </div>

  <div class="mb-4 text-center">
    <div class="text-center mb-2">
      <%= form.label :comment, t('reviews.edit.comment_label') %>
    </div>
    <%= form.text_area :comment, class: 'block w-64 p-2 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 mx-auto' %>
  </div>

  <div class="text-center">
    <%= form.submit t('reviews.edit.submit_button'), class: 'px-4 py-2 bg-indigo-600 border border-transparent rounded-md text-white active:bg-indigo-800 focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50' %>
  </div>
<% end %>

<%= render 'star_rating' %>
